table{
width: 75%;
margin: 0 auto;
border-collapse: collapse;
}
td{
	border: 1px solid #777777;
	height: 50px;
	width: 25%;
	text-align: center;

}
.h200{
	height: 200px;
}
.h150{
	height: 150px;
}
.table2{
	width: 90%;

}
.tableintable{
	width: 80%;
}
.tableintable td{
width: 33.33%;
}
.w50{
	width: 50%;
}
.tableintable{
	margin: auto;
}